#hero-section{
    background-image: linear-gradient(rgba(158, 66, 207, 0.438) , rgba(3, 92, 3, 0.402)) , url("./assets/Images/banner-4.jpg");
    background-attachment: fixed;
    
}
#img-anime{
    animation: anime 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

}
#humbuger-menu,#menu{
    transition: all .5s linear;
}
.toastBody{
    z-index: 900000000;
    font-size: 1.4rem;
}
